body{
    background-image:url("./image/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* filter: blur(5px);
    -webkit-filter: blur(8px); */
}
.card{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: transparent;
}
#col8{
    background-image: url("./image/weather1.jpg"); 
    height: 75vh;
    background-size: cover;
    width: auto;
     
}
#col4{
    background-image: url("./image/weather2.jpg");
    background-size: cover;
}
#searchbtn{
    border-radius: 0%;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}
#searchInput{
    width: 83%;
    margin-top: 33px;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; 
  }  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  #searchInput:focus {
    outline: none;
}

ul{
    list-style-type: none;
}
li{
    margin-left: -36px;
}
hr{
    border-top: 1px solid white;
}

.right{
    float:right;
}

.left{
    float:left;
}
.info{
    /* margin-top: 400px; */
    position: fixed;
    bottom: 75px;
    left: 50px;
    width: 100%;
}
#temp{
    font-size: 70px;
}

